Chapter02/FileSearch/bin
Chapter02/MatrixMultiplier/bin
Chapter03/NearestNeighbors/bin
Chapter03/SimpleServer/classes
Chapter03/SimpleServer/bin
Chapter03/SimpleServer/data
Chapter04/AdvancedServer/bin
Chapter04/AdvancedServer/data
Chapter04/AdvancedServer/output
Chapter04/MyNewsReader/bin
Chapter04/MyNewsReader/data
Chapter04/MyNewsReader/output
Chapter05/BestMatching/bin
Chapter05/BestMatching/data
Chapter05/TextIndexing/bin/
Chapter05/TextIndexing/data
Chapter05/TextIndexing/output
Chapter06/GeneticAlgorithm/bin
Chapter06/GeneticAlgorithm/data
Chapter06/KeywordExtraction/bin
Chapter06/KeywordExtraction/data
Chapter07/KMeansClustering/bin
Chapter07/KMeansClustering/data
Chapter07/MergeSort/bin
Chapter07/ObjectFilter/bin
Chapter08/IRSystem/bin
Chapter08/IRSystem/data
Chapter08/IRSystem/output
Chapter08/NumericalSummarizationRetail/bin
Chapter08/NumericalSummarizationRetail/data
Chapter09/CommonFriends/bin
Chapter09/CommonFriends/data
Chapter09/CommonFriends/data
Chapter10/EventNotificationSystem/bin
Chapter10/EventNotificationSystem/data
Chapter10/NewsNotificationSystem/bin
Chapter10/NewsNotificationSystem/data
Chapter11/DataStructures/bin
Chapter11/DataStructures/data
Chapter11/DataStructures/output
Chapter11/Synchronization/bin
Chapter11/Synchronization/data
Chapter11/Synchronization/output
Chapter12/TestInformation/bin
Chapter12/TestJPF/bin
Chapter12/TestTC/bin
MyTestCode/untitled/out























# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MyTestCode/untitled/out/production/untitled/**.class

